/* CSS Document */

@font-face {
	font-family: titulo;
	src: url(../Fuentes/LeagueGothic-Regular.otf);
}
#titulo {
	color: #67abb8;
	font-family: titulo;
	font-size: 48px;
	margin:0px!important;
}
/*
IMAGENES
*/

.evaa-img {
	max-width: 100%;
	height: auto;
}
/*
BOTONES
*/
.evaa-button {
	display: inline-block;
 *display: inline; /*IE 6/7*/
	zoom: 1;
	line-height: normal;
	white-space: nowrap;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Firefox: Get rid of the inner focus border */
.evaa-button::-moz-focus-inner {
 padding: 0;
 border: 0;
}
.evaa-button {
	font-family: inherit;
	font-size: 100%;
 *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
 *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
	padding: 0.5em 1em;
	color: #444; /* rgba not supported (IE 8) */
	color: rgba(0, 0, 0, 0.80); /* rgba supported */
 *color: #444; /* IE 6 & 7 */
	border: 1px solid #999;  /*IE 6/7/8*/
	border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
	background-color: #E6E6E6;
	text-decoration: none;
	border-radius: 2px;
}
.evaa-button-hover, .evaa-button:hover, .evaa-button:focus {
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
	background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
	background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
	background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.evaa-button:focus {
	outline: 0;
}
.evaa-button-active, .evaa-button:active {
	box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}
.evaa-button[disabled], .evaa-button-disabled, .evaa-button-disabled:hover, .evaa-button-disabled:focus, .evaa-button-disabled:active {
	border: none;
	background-image: none;
 filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	filter: alpha(opacity=40);
	-khtml-opacity: 0.40;
	-moz-opacity: 0.40;
	opacity: 0.40;
	cursor: not-allowed;
	box-shadow: none;
}
.evaa-button-hidden {
	display: none;
}

/* Firefox: Get rid of the inner focus border */
.evaa-button::-moz-focus-inner {
 padding: 0;
 border: 0;
}
.evaa-button-primary, .evaa-button-selected, a.evaa-button-primary, a.evaa-button-selected {
	background-color: transparent;
	color: #f15b40;
	text-transform: uppercase;
}
/*
FORMS
*/

/*!
evaa v0.5.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yui/evaa/blob/master/LICENSE.md
*/
.evaa-form input[type="text"], .evaa-form input[type="password"], .evaa-form input[type="email"], .evaa-form input[type="url"], .evaa-form input[type="date"], .evaa-form input[type="month"], .evaa-form input[type="time"], .evaa-form input[type="datetime"], .evaa-form input[type="datetime-local"], .evaa-form input[type="week"], .evaa-form input[type="number"], .evaa-form input[type="search"], .evaa-form input[type="tel"], .evaa-form input[type="color"], .evaa-form select, .evaa-form textarea {
	padding: 0.5em 0.6em;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.evaa-form input:not([type]) {
	padding: 0.5em 0.6em;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.evaa-form input[type="color"] {
	padding: 0.2em 0.5em;
}
.evaa-form input[type="text"]:focus, .evaa-form input[type="password"]:focus, .evaa-form input[type="email"]:focus, .evaa-form input[type="url"]:focus, .evaa-form input[type="date"]:focus, .evaa-form input[type="month"]:focus, .evaa-form input[type="time"]:focus, .evaa-form input[type="datetime"]:focus, .evaa-form input[type="datetime-local"]:focus, .evaa-form input[type="week"]:focus, .evaa-form input[type="number"]:focus, .evaa-form input[type="search"]:focus, .evaa-form input[type="tel"]:focus, .evaa-form input[type="color"]:focus, .evaa-form select:focus, .evaa-form textarea:focus {
	outline: 0;
	outline: thin dotted \9; /* IE6-9 */
	border-color: #129FEA;
}
/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.evaa-form input:not([type]):focus {
	outline: 0;
	outline: thin dotted \9; /* IE6-9 */
	border-color: #129FEA;
}
.evaa-form input[type="file"]:focus, .evaa-form input[type="radio"]:focus, .evaa-form input[type="checkbox"]:focus {
	outline: thin dotted #333;
	outline: 1px auto #129FEA;
}
.evaa-form .evaa-checkbox, .evaa-form .evaa-radio {
	margin: 0.5em 0;
	display: block;
}
.evaa-form input[type="text"][disabled], .evaa-form input[type="password"][disabled], .evaa-form input[type="email"][disabled], .evaa-form input[type="url"][disabled], .evaa-form input[type="date"][disabled], .evaa-form input[type="month"][disabled], .evaa-form input[type="time"][disabled], .evaa-form input[type="datetime"][disabled], .evaa-form input[type="datetime-local"][disabled], .evaa-form input[type="week"][disabled], .evaa-form input[type="number"][disabled], .evaa-form input[type="search"][disabled], .evaa-form input[type="tel"][disabled], .evaa-form input[type="color"][disabled], .evaa-form select[disabled], .evaa-form textarea[disabled] {
	cursor: not-allowed;
	background-color: #eaeded;
	color: #cad2d3;
}
/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.evaa-form input:not([type])[disabled] {
	cursor: not-allowed;
	background-color: #eaeded;
	color: #cad2d3;
}
.evaa-form input[readonly], .evaa-form select[readonly], .evaa-form textarea[readonly] {
	background: #eee; /* menu hover bg color */
	color: #777; /* menu text color */
	border-color: #ccc;
}
 .evaa-form input:focus:invalid, .evaa-form textarea:focus:invalid, .evaa-form select:focus:invalid {
 color: #b94a48;
 border-color: #ee5f5b;
}
.evaa-form input:focus:invalid:focus, .evaa-form textarea:focus:invalid:focus, .evaa-form select:focus:invalid:focus {
 border-color: #e9322d;
}
.evaa-form input[type="file"]:focus:invalid:focus, .evaa-form input[type="radio"]:focus:invalid:focus, .evaa-form input[type="checkbox"]:focus:invalid:focus {
 outline-color: #e9322d;
}
.evaa-form select {
	border: 1px solid #ccc;
	background-color: white;
}
.evaa-form select[multiple] {
	height: auto;
}
.evaa-form label {
	margin: 0.5em 0 0.2em;
}
.evaa-form fieldset {
	margin: 0;
	padding: 0.35em 0 0.75em;
	border: 0;
}
.evaa-form legend {
	display: block;
	width: 100%;
	padding: 0.3em 0;
	margin-bottom: 0.3em;
	color: #333;
	border-bottom: 1px solid #e5e5e5;
}
.evaa-form-stacked input[type="text"], .evaa-form-stacked input[type="password"], .evaa-form-stacked input[type="email"], .evaa-form-stacked input[type="url"], .evaa-form-stacked input[type="date"], .evaa-form-stacked input[type="month"], .evaa-form-stacked input[type="time"], .evaa-form-stacked input[type="datetime"], .evaa-form-stacked input[type="datetime-local"], .evaa-form-stacked input[type="week"], .evaa-form-stacked input[type="number"], .evaa-form-stacked input[type="search"], .evaa-form-stacked input[type="tel"], .evaa-form-stacked input[type="color"], .evaa-form-stacked select, .evaa-form-stacked label, .evaa-form-stacked textarea {
	display: block;
	margin: 0.25em 0;
}
/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.evaa-form-stacked input:not([type]) {
	display: block;
	margin: 0.25em 0;
}
.evaa-form-aligned input, .evaa-form-aligned textarea, .evaa-form-aligned select, /* NOTE: evaa-help-inline is deprecated. Use .evaa-form-message-inline instead. */ .evaa-form-aligned .evaa-help-inline, .evaa-form-message-inline {
	display: inline-block;
 *display: inline;
 *zoom: 1;
	vertical-align: middle;
}
.evaa-form-aligned textarea {
	vertical-align: top;
}
/* Aligned Forms */
.evaa-form-aligned .evaa-control-group {
	margin-bottom: 0.5em;
}
.evaa-form-aligned .evaa-control-group label {
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	width: 10em;
	margin: 0 1em 0 0;
}
.evaa-form-aligned .evaa-controls {
	margin: 1.5em 0 0 10em;
}
/* Rounded Inputs */
.evaa-form input.evaa-input-rounded, .evaa-form .evaa-input-rounded {
	border-radius: 2em;
	padding: 0.5em 1em;
}
/* Grouped Inputs */
.evaa-form .evaa-group fieldset {
	margin-bottom: 10px;
}
.evaa-form .evaa-group input {
	display: block;
	padding: 10px;
	margin: 0;
	border-radius: 0;
	position: relative;
	top: -1px;
}
.evaa-form .evaa-group input:focus {
	z-index: 2;
}
.evaa-form .evaa-group input:first-child {
	top: 1px;
	border-radius: 4px 4px 0 0;
}
.evaa-form .evaa-group input:last-child {
	top: -2px;
	border-radius: 0 0 4px 4px;
}
.evaa-form .evaa-group button {
	margin: 0.35em 0;
}
.evaa-form .evaa-input-1 {
	width: 100%;
}
.evaa-form .evaa-input-2-3 {
	width: 66%;
}
.evaa-form .evaa-input-1-2 {
	width: 50%;
}
.evaa-form .evaa-input-1-3 {
	width: 33%;
}
.evaa-form .evaa-input-1-4 {
	width: 25%;
}
/* Inline help for forms */
/* NOTE: evaa-help-inline is deprecated. Use .evaa-form-message-inline instead. */
.evaa-form .evaa-help-inline, .evaa-form-message-inline {
	display: inline-block;
	padding-left: 0.3em;
	color: #666;
	vertical-align: middle;
	font-size: 0.875em;
}
/* Block help for forms */
.evaa-form-message {
	display: block;
	color: #666;
	font-size: 0.875em;
}

@media only screen and (max-width : 480px) {
.evaa-form button[type="submit"] {
	margin: 0.7em 0 0;
}
.evaa-form input:not([type]), .evaa-form input[type="text"], .evaa-form input[type="password"], .evaa-form input[type="email"], .evaa-form input[type="url"], .evaa-form input[type="date"], .evaa-form input[type="month"], .evaa-form input[type="time"], .evaa-form input[type="datetime"], .evaa-form input[type="datetime-local"], .evaa-form input[type="week"], .evaa-form input[type="number"], .evaa-form input[type="search"], .evaa-form input[type="tel"], .evaa-form input[type="color"], .evaa-form label {
	margin-bottom: 0.3em;
	display: block;
}
.evaa-group input:not([type]), .evaa-group input[type="text"], .evaa-group input[type="password"], .evaa-group input[type="email"], .evaa-group input[type="url"], .evaa-group input[type="date"], .evaa-group input[type="month"], .evaa-group input[type="time"], .evaa-group input[type="datetime"], .evaa-group input[type="datetime-local"], .evaa-group input[type="week"], .evaa-group input[type="number"], .evaa-group input[type="search"], .evaa-group input[type="tel"], .evaa-group input[type="color"] {
	margin-bottom: 0;
}
.evaa-form-aligned .evaa-control-group label {
	margin-bottom: 0.3em;
	text-align: left;
	display: block;
	width: 100%;
}
.evaa-form-aligned .evaa-controls {
	margin: 1.5em 0 0 0;
}
/* NOTE: evaa-help-inline is deprecated. Use .evaa-form-message-inline instead. */
.evaa-form .evaa-help-inline, .evaa-form-message-inline, .evaa-form-message {
	display: block;
	font-size: 0.75em;
	/* Increased bottom padding to make it group with its related input element. */
	padding: 0.2em 0 0.8em;
}
}
/*MENSAJES*/
.msgContent {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 0;
	box-sizing: border-box;
	color: white;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-transition: height .2s;
	transition: height .2s;
	z-index: 1000000;

}
.activeError {
	height: auto;
	padding: 10px;
	background: #f15b40;
}
.activeExito {
	height: auto;
	padding: 10px;
	background: #67abb8;
}
.flexC {
	/* flexbox setup */
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	-webkit-justify-content: center;
	justify-content: center;
	/* Vertical */	
	-webkit-align-items: center;
	align-items: center;
	/* Wrap */
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flexR {
	/* flexbox setup */
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	-webkit-justify-content: center;
	justify-content: center;
	/* Vertical */	
	-webkit-align-items: center;
	align-items: center;
	/* Wrap */
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
/*Tablas*/

.evaa-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.evaa-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.evaa-table td,
.evaa-table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}
.evaa-table td:first-child,
.evaa-table th:first-child {
    border-left-width: 0;
}

.evaa-table thead {
    background: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.evaa-table td {
    background-color: transparent;
}
.evaa-table-odd td {
    background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
.evaa-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

/* BORDERED TABLES */
.evaa-table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}
.evaa-table-bordered tbody > tr:last-child td,
.evaa-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

.evaa-table-horizontal td,
.evaa-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}
.evaa-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}
