@charset "utf-8";
/* CSS Document */

#btnNuevoCurso {
	float: right;
}
#divResultados {
	margin: 20px;
	margin-top: 80px;
	text-align: center;
}
#divResultados thead {
	background: #67abb8;
	color: #FFF;
}

/*@media (max-width: 48em) {
#divResultados {
	margin: 20px;
	margin-top: auto;
}
input[type="text"], input[type="number"] {
	width: 100px;
	float: left;
	margin: 5px;
}
}*/
