body {
	color: #777;
}
h2 {
	color: #67abb8;
}
/*
Add transition to containers so they can push in and out.
*/
#divPrincipal, #notif, .notif-link {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
/*
This is the parent `<div>`
*/
#divPrincipal {
	position: relative;
	padding-left: 0;
}
#divPrincipal.active {
	position: relative;
	left: 150px;
}
#divPrincipal.active #notif {
	left: 150px;
	width: 150px;
}
#divPrincipal.active .notif-link {
	left: 150px;
}
/*
The content `<div>`
*/
.content {
	margin: 0 auto;
	padding: 0 2em;
	max-width: 800px;
	margin-bottom: 50px;
	line-height: 1.6em;
}
header {
	color: #333;
	text-align: center;
	border-bottom: 1px solid #eee;
}
headr h1 {
	font-size: 3em;
	font-weight: 300;
	color: #67abb8;
}
header h2 {
	font-weight: 300;
	color: #f15b40!important;
	padding: 0;
	margin-top: 0;
	font-weight:bold!important;
}
.content-subhead {
	font-weight: 300;
	color: #888;
	text-transform:uppercase;
}
/*
The `#notif`
*/

#notif {
	margin-left: -150px;
	width: 150px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1000;
	background: #262626;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
/* -- Dynamic Button For Responsive notif -------------------------------------*/

.notif-link {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	background: #000;
	background: #262626;
	font-size: 10px;
	z-index: 10;
	width: 2em;
	height: auto;
	padding: 2.1em 1.6em;
}
.notif-link:hover, .notif-link:focus {
	background: #262626;
}
.notif-link span {
	position: relative;
	display: block;
}
.notif-link span, .notif-link span:before, .notif-link span:after {
	background-color: #fff;
	width: 100%;
	height: 0.2em;
}
.notif-link span:before, .notif-link span:after {
	position: absolute;
	margin-top: -0.6em;
	content: " ";
}
.notif-link span:after {
	margin-top: 0.6em;
}
/* -- Responsive Styles (Media Queries) ------------------------------------- */

@media (min-width: 48em) {
header, .content {
	padding-left: 2em;
	padding-right: 2em;
}
#divPrincipal {
	padding-left: 150px;
	left: 0;
}
#notif {
	left: 150px;
}
.notif-link {
	position: fixed;
	left: 150px;
	display: none;
}
#divPrincipal.active .notif-link {
	left: 150px;
}
}
