@charset "utf-8";
/* CSS Document */


#divResultados {
	margin: 20px;
	/*margin-top: 80px;*/
	text-align: center;
}
#divResultados thead {
	background: #67abb8;
	color: #FFF;
	font-weight:bold;
}

/*@media (max-width: 48em) {
#divResultados {
	margin: 20px;
	margin-top: auto;
	text-align: center;
}
input[type="text"], input[type="number"] {
	width: 100px;
	float: left;
	margin: 5px;
}
}*/